@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&display=swap');



/* Main */

h1 {
    font-family: Abril Fatface;
}
h2 {
    font-family: Abril Fatface;
}
h3 {
    color: #660708;
}
h3 a {
    color: #660708;
}
p {
    font-family: Architects Daughter;
}
.social a {
    text-decoration: none;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #fcd5ce;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: #660708;
    font-family: Abril Fatface;
    font-weight: bold;
    padding: 35px;
}
nav a:hover {
    background-color: #f8edeb;
    color: black;
    text-decoration: none;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px;
}
body {
    background-color: #f8edeb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}
footer {
    background-color: #fcd5ce;
    font-family: Abril Fatface;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    font-family: Abril Fatface;
}
footer .social img {
    padding-top: 15px;
}



/*Page 1 "HomePage*/
.home-grid {
    display: grid;
    justify-items: center;
    grid-row-gap: 2em;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-title{
    font-family: Abril Fatface;
    font-size: 40px;
    letter-spacing: 3px;
    color: #660708;
    margin: 100px 0;
    border-top: 5px double;
    border-bottom: 5px double;
    grid-column: 2/10;
    grid-row: 1/2;
    justify-self: stretch;
    text-align: center;
}
.homepage1-image {
    grid-column: 2/3;
    grid-row: 2/4;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.homepage1-text {
    grid-column: 4/9;
    grid-row: 2/4;
}
.homepage2-image {
    grid-column: 2/3;
    grid-row: 7/9;
    box-shadow: 5px 5px 10px #6f7364;
}
.homepage2-text {
    grid-column: 4/9;
    grid-row: 7/9;
}


/*Page 2 "Recipe page"*/
.recipe-grid {
    display: grid;
    justify-items: center;
    grid-row-gap: 2em;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.recipe-title {
    font-family: Abril Fatface;
    font-size: 40px;
    letter-spacing: 3px;
    color: #660708;
    margin: 100px 0;
    border-top: 5px double;
    border-bottom: 5px double;
    grid-column: 2/10;
    grid-row: 1/2;
    justify-self: stretch;
    text-align: center;
}
.chicken-image {
    grid-column: 2/3;
    grid-row: 2/5;
    box-shadow: 5px 5px 10px #6f7364;
    box-shadow: 5px 5px 10px #6f7364;
}
.chicken-text {
    grid-column: 2/8;
    grid-row: 3/4;
    padding: 35px;
    position: relative;
    left: 150px;
    bottom: -100px;
    width: 82%;
}
.beef-image {
    grid-column: 2/3;
    grid-row: 7/10;
    box-shadow: 5px 5px 10px #6f7364;
}
.beef-text {
    grid-column: 2/8;
    grid-row: 8/9;
    padding: 35px;
    position: relative;
    left: 150px;
    width: 82%;
    bottom: -160px;
}
.pork-image {
    grid-column: 2/4;
    grid-row: 12/15;
    box-shadow: 5px 5px 10px #6f7364;
}
.pork-text {
    grid-column: 3/8;
    grid-row: 13/14;
    padding: 35px;
    width: 124%;
}
.chicken-text, .beef-text, .pork-text {
    background-color: #fcd5ce;
    box-shadow: 5px 5px 10px #6f7364;
    overflow-y: scroll; /* ADDED */
    height: auto;
    height: 250px;
}

/*Form page*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-top: 50px;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
      height: 5em;
}
  
.button {
    padding-left: 90px;
}
  
button {
    margin-left: .5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}